<form method = "post" >
    <div class="form-row">
        <input type="hidden" value="{{character.id }}" name="id">
        <div class="form-group col-md-6">
            <label for="name" > Name of character:</label>
            <input type="text" class="form-control" value="{{ character.name }}" name="name">
        </div>
        <div class="form-group col-md-6">
            <label for="state" > Status (human, vampire, ghost...) :</label>
            <input type="text" class="form-control" value="{{ character.state }}" name="state">
        </div>
    </div>
    <div class="form-group">
        <label for="description" > Description :</label>
        <textarea name="description" class="form-control" id="description" rows="5" cols="50">{{ character.description }}</textarea>
    </div>
    <div class="form-group">
        <label for="picture" > Link to portrait :</label>
        <input type="text" class="form-control" value="{{ character.picture }}" name="picture">
    </div>
    <button type="submit" class="btn btn-info">Send</button>
</form>
